/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: gray;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #00e500;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

body{
	font-family: Verdana,Arial,sans-serif;
	font-size: 1.1em;
	background-color: #fafafa;
}

.control-container {
	font-family: 'Share Tech Mono', sans-serif;
	font-size: 22pt;
	margin-top: 5px;
	margin-bottom: 5px;
}

.disp-container {
	display: table-cell;
	font-family: 'Share Tech Mono', sans-serif;
	text-align: center;
	width: 355px;
}

.disp-container-with-btn {
	display: table-cell;
	font-family: 'Share Tech Mono', sans-serif;
	text-align: center;
	width: 355px;
}

.digital-display {
	font-family: 'Orbitron', sans-serif;
	font-weight: bold;
	font-size: 17pt;
	letter-spacing: 0.4em;
	border: 5px solid gray;
	width: 350px;
	text-align: center;
	height: 35px;
	display: table-cell;
	vertical-align: middle;
	padding-top: 5px;
	background-color: #000000;
	color: #00e500;
}

.digital-display-btn {
	font-weight: bold;
	font-size: 24pt;
	border: 5px solid gray;
	height: 35px;
	width: 35px;
	display: table-cell;
	vertical-align: middle;
	cursor: pointer;
}

.digital-display-btn:hover {
	background-color: lightgray;
}

.digital-display-set-btn {
	font-weight: bold;
	font-size: 24pt;
	border: 5px solid gray;
	border-top: none;
	height: 35px;
	width: 345px;
	vertical-align: middle;
	cursor: pointer;
}

.digital-display-set-btn:hover {
	background-color: lightgray;
}

h1{
	font-weight: bold;
	font-size:24pt;
	/*font-family: Verdana,Arial,sans-serif;*/
}

#header{
	background-color: #006BB9;
	color:white;
	height: 90px;
	text-align: center;
	padding-top: 10px;
	margin-bottom: 10px;
}
#controls{
	width: 50%;
  margin: 0 auto;
	width: 800px;
}

#sub-controls {
	width: 50%;
  margin: 0 auto;
	width: 800px;
}

#content{
	width: 50%;
  margin: 0 auto;
	width: 800px;
	pointer-events: none;
	margin-top: 25px;
}

#x3d_canvas{
	height: 400px;
	width: 700px;
	background-color: lightgray;
	border: 5px solid gray;
	border-top: none;
}

#log{    
	height: 50px;
	margin-left: 10px;
	margin-right: 10px;       
	margin-bottom:10px;
	overflow:auto;
	font-size: 8pt;    
	background-color: #A3B4BF;
	padding: 5px;
	
}
#footer{

	background-color: #006BB9;
	color:white;
	height: 25px;
	text-align: right;
	padding-top: 5px;
	padding-right: 10px;
	margin-top: 10px;
	font-size: 10pt;
}

#libraries{
	font-family: Lucida Console,Courier,serif;
	font-size: 8pt;
	
}

.row{
	margin-bottom:10px;
}
.row-label{
	display: inline-block;
	width: 300px;    
}


